@import './vars.scss';
body{
    margin: 0;
    background-color: $color-fondoGeneral;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 99vw;
    overflow-x: hidden;
}

