@import './vars.scss';

.colash-container-component{
    width: 100vw;
    height: 23vh;
    overflow: hidden;
    //border: $boder-test;
    margin-top: 55px;
    margin-bottom: 105px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.colash-container{
    width: 90vw;
    height: 20vh;
    background-color: $color-button;
    border-radius: $border-radius-colashCar;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(2,50%);
    overflow: hidden;
}

.colash-logo{
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        width: 50%;
        height: 50%;
    }
}

.colash-logo:nth-of-type(17){
    grid-column: 7/9;
    height: 100%;
}

.colash-logo:nth-of-type(14){
    width: 115%;
}