@import './vars.scss';

.founders-container{
    //border: $boder-test;
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

.founders-grid{
    //border: $boder-test;
    width: 80%;
    height: 95%;
    display: grid;
    grid-template-columns: 50% 49%;
    grid-template-rows: 10% 40% 10% 40%;
    grid-column-gap: 1%;
    background-color: #FFFFFF;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.founders-item{
    //border: $boder-test;

}

.founders-item:nth-of-type(1){
    background-color: #1F67AF;
    border-radius: 15px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-button;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;

}

.founders-item:nth-of-type(2){
    background-color: #1F67AF;
    border-radius: 0px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-button;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;

}

.founders-item:nth-of-type(5){
    background-color: #1F67AF;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-button;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;

}

.founders-item:nth-of-type(6){
    background-color: #1F67AF;
    border-radius: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.founders-item:nth-of-type(3){

    font-family: $font-button;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135.8%;
    color: #454545;
    & ul{
        list-style: none;

        & li{
            margin-bottom: 9px;
        }
    }
}

.founders-item:nth-of-type(4){

    font-family: $font-button;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135.8%;
    color: #454545;
    & ul{
        list-style: none;

        & li{
            margin-bottom: 9px;
        }
    }
}

.founders-item:nth-of-type(7){

    font-family: $font-button;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135.8%;
    color: #454545;
    & ul{
        list-style: none;

        & li{
            margin-bottom: 9px;
        }
    }
}

.founders-item:nth-of-type(8){

    font-family: $font-button;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 135.8%;
    color: #454545;
    & ul{
        list-style: none;

        & li{
            margin-bottom: 9px;
        }
    }
}