@import './vars.scss';

.header-container{
    border: 1px solid green;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto;
    position: relative;
}

.logo-container{
    border: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;

    & .logo{
        width: 325px;
        margin-left: 120px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.nav-container{
    border: 1px solid red;
    width: 100%;
    position: relative;
    & .rectangle{
        border: 1px solid blue;
        width: 96.4%;
        position: absolute;
        z-index: 2;
        right: 0;
        
    }

    & .timeLaps{
        width: 100%;
        position: absolute;
        right: 0;
    }
}

.nav{
    border: 2px solid purple;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    z-index: 3;
    top: 0;
}

.nav-list{
    list-style: none;
    
    
    & .nav-opc{
        margin-left: 30px;
        float: left;
        position: relative;
    }
    & .nav-opc:nth-of-type(1){
        margin: 0;
    }
}

.nav-link{
    color: $color-button;
    text-decoration: none;
    font-family: $font-nav;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 27px;
    
    

}

.nav-opc:nth-of-type(1) ~ .nav-opc:nth-child(-n+4) ul{
    list-style: none;
    position: absolute;
    padding: 0;
    left: 0;
    color: $color-button;
    text-decoration: none;
    font-family: $font-nav;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 45px;
    display: none;
    
}

.nav-opc:nth-of-type(1) ~ .nav-opc:nth-child(-n+4):hover > ul{
    display: block;
    width: 300px;

    & li:hover{
        border-bottom: 3px solid white;
        cursor: pointer;
        
    }
}
.nav-opc:nth-of-type(6){
    margin-left: 40px;
    margin-right: 15px;
}