@import './vars.scss';

.hero-container{

    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.hero-description{
    width: 636px;
    margin-left: 120px;
    margin-top: 10%;
    margin-bottom: 10%;
    
    & h1{
        font-family: $font-button;
        font-style: normal;
        font-weight: bold;
        font-size: 52px;
        line-height: 61px;
        color: #454545;
    }

    & p{
        font-family: $font-button;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #454545;
    }
}

// .timeLaps-container{

//     width: 57.2%;
//     height: auto;
//     position: absolute;
//     right: 0vw;
//     top: -11.2vh;
    
// }

// .timeLaps{
//     width: 100%;
//     height: 100%;
// }

