@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,600;1,700&display=swap');

// borders  vars
$button-width: 345px;
$button-height: 47px;
$boder-test: 1px solid red;
$border-radius-button: 23.5px;
$color-button:  #FFFFFF;
$color-button-decoration: #017ACC;
$font-button:'Raleway', sans-serif;
$border-radius-colashCar: 35px 0px 0px 35px;